<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <appSettings>
        <add key="DBPath" value="c:\Users\user\AppData\Roaming\Skype\victor.hytyk.prl\main.db"/>
        <add key="FromAddress" value="username@gmail.com"/>
        <add key="FromPassword" value="password"/>
    </appSettings>
</configuration>

